<!DOCTYPE html>
<html>
    <head>
        <title> Home Page</title>
    </head>
    <body>
        <h2> Welcome  {{username}} {{des}} </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi vitae dicta asperiores maiores dolorum quas ea illo! Ab laudantium fugit magnam expedita architecto rerum? Quas quos sunt laborum architecto!</p>
    </body>
</html>