doctype html
html
  head
    title  Index Page
  body
    h2  Index #{username} #{des}
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi vitae dicta asperiores maiores dolorum quas ea illo! Ab laudantium fugit magnam expedita architecto rerum? Quas quos sunt laborum architecto!
